<div class="container ">
  <h3>STUDENT REGISTRATION FORM</h3>
</div>


<div class="container mb-3 py-4">
  <form #studentPost="ngForm" (ngSubmit)="onSubmit(studentPost.value)">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name"  name="name" ngModel placeholder="Enter Your Name" required="">
    </div>
    
    <div class="mb-3">
      <label for="father_name" class="form-label">Father Name </label>
      <input type="text" class="form-control" id="father_name" name="father_name" ngModel placeholder="Enter Your Father Name" required>
    </div>
    
    <!-- <div class="mb-3">
      <label for="dob" class="form-label">DOB</label>
      <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter Your Date Of Birth">
    </div> -->

    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" name="phone" ngModel placeholder="Enter Your Phone Number" required>
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" ngModel placeholder="Enter Your Email-Id" required>
    </div>

    <div class="mb-3">
      <label for="branch" class="form-label">Branch</label>
      <input type="text" class="form-control" id="branch" name="branch" ngModel placeholder="Enter Your Branch" required>
    </div>

    <div class="mb-3">
      <label for="percentage" class="form-label">Percentage</label>
      <input type="number" class="form-control" id="percentage" name="percentage" ngModel  placeholder="Enter Your Percentage" required>
    </div>
   
    <button class="btn btn-primary" type="submit">submit</button> <br>
    <button (click)="exportToExcel()">Export To Excel</button>

    <div>

      <input type="file" (change)="onFileSelected($event)" #fileInput>
      <button (click)="uploadFile()">Upload to AWS S3</button>
    </div>
    </form>
</div>
